.header {
  height: 34vw;
  margin: 30px auto;
  background: url('../../assets/header_img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.2vw;
    max-width: 42%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-content h2{
    font-weight: 500;
    color: white;
    line-height: 1.1;
    font-size: max(4vw, 34px);
}

.header-content p{
    color: white;
    font-size: max(1rem, 16px);
    line-height: 1.7;
    max-width: 420px;
}

.header-content button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
}
@media(max-width:1050px){
    .header-content{
        max-width: 45%;
    }
}
@media (max-width:750px){
    .header {
        height: 50vw;
        margin: 15px auto;
    }
    .header-content{
        max-width: 80%;
        left: 5vw;
        bottom: 15%;
        gap: 3vw;
    }
    .header-content h2{
        font-size: max(6vw,20px);
        text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
    }
    .header-content p{
        display: none;
    }
    .header-content button{
        padding: 2.5vw 5vw;
        font-size: max(1.5vw,12px);
    }
    .header {
        border-radius: 10px;
    }
}